<!DOCTYPE html>
<html ng-app="GerenciaPalestras"">
<head>
<meta charset="UTF-8">
<title>Gerência de Palestras</title>


<link rel="stylesheet" href="resources/css/bootstrap.css">
<!-- Optional theme -->
<link rel="stylesheet" href="resources/css/bootstrap-theme.css">

<style type="text/css">

	div.container {
		margin-left: auto;
		margin-right: auto;
		width: 600px;
	}

	.form-control {
		margin-bottom: 10px;
	}

</style>

<script type="text/javascript" src="resources/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="resources/js/bootstrap.js"></script>
<script type="text/javascript" src="resources/js/angular.js"></script>

<script type="text/javascript" src="app/app.module.js"></script>
<script type="text/javascript" src="app/GerenciaPalestrasController.js"></script>

</head>
<body ng-controller="GerenciaPalestrasController">

	<div class="container">

		<div class="jumbotron">
			<h2>{{titulo}}</h2>
		</div>


		<table class="table table-hover">
			<tr>
				<th>#</th>
				<th></th>
				<th>Nome</th>
				<th>Autor</th>
			</tr>
			<tr ng-class="{warning : palestra.selecionada}" ng-repeat="palestra in palestras">
				<th>{{$index + 1}}</th>
				<th><input type="checkbox" ng-model="palestra.selecionada" /></th>
				<td>{{palestra.nome}}</td>
				<td>{{palestra.autor}}</td>
			</tr>
		</table>
		
		<hr/>
		
		<input class="form-control" type="text" ng-model="palestra.nome" placeholder="Título da Palestra" />
		<input class="form-control" type="text" ng-model="palestra.autor" placeholder="Autor da Palestra" />
		
		<button class="btn btn-primary btn-block" ng-click="adicionarPalestra(palestra)" ng-disabled="!palestra.nome || !palestra.autor">Adicionar Palestra</button>
		<button class="btn btn-danger btn-block" ng-hide="!temPalestraSelecionada()" >Apagar Palestra</button>
		
	
	</div>
	



</body>
</html>